.container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #dbdbdb;

  .label {
    width: fit-content;
    white-space: nowrap;
    padding: 12px;
    min-width: 45px;
    color: #191c1f;
  }
}

.selectIcon {
  padding: 0 15px;
  color: #191c1f;
}

.select {
  [class$="-container"] {
    width: 100%;
  }

  [class$="-control"] {
    width: 100%;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    box-shadow: none;
  }

  [class$="-menu"] {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 15px;
    width: 305px;
    padding: 12px 0;
    left: -4.5em;
  }

  [class$="-menuPortal"] {
    z-index: 9999;
  }
}
